@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* margin é o espaço entre "componentes" 
e o padding é o espaço entre o conteúdo e a borda */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.hero {
  background-color: #fbdfdb;
  color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 30px;
}

.hero .intro {
  width: 320px;
  align-self: center;
  padding-left: 60px;
}

.hero .intro h1 {
  font-size: 32px;
  line-height: 38px;
  color: #111111;
  margin-bottom: 10px;
}

.hero .intro p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 28px;
}

.hero img {
  justify-self: center;
  padding-top: 66px;
}

h2 {
  color: black;
  size: 24px;
  font-family: "Roboto-bold", sans-serif;
  line-height: 28px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/*________________Cards____________________-*/

.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  /*cria colunas cada fr é uma coluna*/
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  color: black;
  border: orangered;
}

.card_image-container img {
  width: 100%;
  border-radius: 15px;
}

.card_info {
  font-family: "Roboto-Regular", sans-serif;
  display: grid;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card_content h4 {
  font-weight: 100;
  size: 18px;
}

.card__price {
  size: 14px;
  color: #777777;
  margin-top: 5px;
}

/*____________MODAL___________*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  max-width: 660px;
  height: 413px;
  box-sizing: border-box;
  margin: 25vh auto;
  padding: 30px;
  position: relative;
  border-radius: 16px;
}

.modal-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.modal-content h3 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #111111;
}

.modal-content p {
  margin-top: 5px;
  line-height: 21px;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  color: #777777;
}

.modal a {
  color: #999999;
  font-size: 16px;
  font-family: "Roboto-Regular ", sans-serif;
  margin-top: 60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/*____________ACTIVE MODAL___________*/

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}