@import "https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  /*cria colunas cada fr é uma coluna*/
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  color: black;
  border: orangered;
}

.card_image-container img {
  width: 100%;
  border-radius: 15px;
}

.card_info {
  font-family: "Roboto", sans-serif;
  display: grid;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card_content {
  size: 18px;
}

.card__price {
  size: 14px;
  color: #777777;
  margin-top: 5px;
}

/*____________MODAL___________*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  max-width: 660px;
  height: 413px;
  box-sizing: border-box;
  margin: 25vh auto;
  padding: 30px;
  position: relative;
  border-radius: 16px;

}

.modal-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;

  margin-bottom: 20px;
}

.card_content h4 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  color: #111111;

}

.modal-content .card_content p {
  margin-top: 5px;
  line-height: 21px;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  color: #777777;
}

.modal a {
  color: #999999;
  font-size: 16px;
  font-family: "Roboto-Regular ", sans-serif;
  margin-top: 60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/*____________ACTIVE MODAL___________*/

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}