* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  width: 940px;
  margin: 32px auto;
  display: grid;
  grid-template-columns: 210px 1fr;
  align-items: center;
}

#menu a {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin-right: 30px;
}

/* hover: executa essas ações quando passa mouse em cima */

/* #menu a:hover {
  font-weight: bold;
  color: rgb(122, 86, 86);
  transition: color 200ms;
} */

.rodape {
  max-width: 1400px;
  background-color: #eeeeee;
  height: 62px;
  color: #999999;
}

.rodape h3 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
}